<a href="https://colab.research.google.com/github/aldifayol/py-google-colab/blob/main/dicoding_python_data_interaction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dictionary Exercise

# data_diri = {
#     'firstName': 'Aldi',
#     'lastName': 'Fayol',
#     'age': 37,
#     'isMarried': True,
# }

# data_diri['Job'] = None
# print(data_diri)

# data_diri['lastName'] = 'Lalawi'
# print(data_diri)

# del data_diri['isMarried']
# print(data_diri)


# toConvert = input("please enter the value you want to convert: ")

# converted = int(toConvert)
# print(type(converted))


# umur = 30
# name = 'Evans'
# isRaining = F11alse
# isWearingRaincoat = False

# name = 'thegreatpython'

# print(name[3:7])

# address = 'Jakarta'

# myList = ['Evans', 30, address]

# print(id(myList[0]))
# print(id(myList[1]))
# print(id(myList[2]))

# myList[0] = 'Aldi'

# print(myList)

# print(id(myList[0]))
# print(id(myList[1]))
# print(id(myList[2]))

# isMarried = True

# myTuple = ("Aldi", 37, "Software Developer", isMarried)

# mySet = { 2, 3, 2, 1, 7, 6, 6 }

# mySet_2 = { 4, 5, 5, 3, 7, 9}

# print(mySet_2.intersection(mySet))

# print(mySet)
# print(type(mySet))


# -----------------------------------------------------------------------------

# Exercise

# Declare a variable called name and assign your full name in it

name_name = 'aldi alfarnando'

# Define a slicing method to only take your last name

print(name_name[5:])

# Declare a list that assign a skill you mastered the most

mySkills = ["html", 'css', 'js']

# Try to modify the value of some indexes

mySkills[2] = 'css3'

print(mySkills)

# Declare a tuple and assign the skill you want to master in the future

# Also try to modify it

# Declare two sets and assign some numbers into it

set_1 = { 1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 27, 29, 31}

set_2 = { 0, 1, 1, 2, 3, 5, 8, 13, 21 }

# Try to print those sets

print(set_1)
print(set_2)

# Implement the union method and analyze the output

print(set_1.union(set_2))

# Also do the intersection method

print(set_1.intersection(set_2))

alfarnando
['html', 'css', 'css3']
{1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 27, 29, 31}
{0, 1, 2, 3, 5, 8, 13, 21}
{0, 1, 2, 3, 5, 7, 8, 11, 13, 17, 19, 21, 23, 27, 29, 31}
{1, 2, 3, 5, 13}